<div id="dropin-wrapper">
  <div>
    <h6>Advanced Fraud Tools</h6>
  </div>
  <div id="checkout-message"></div>
  <div id="dropin-container"></div>
  <button id="submit-button">Submit payment</button>
</div>
<script src="https://js.braintreegateway.com/web/3.42.0/js/data-collector.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.43.0-beta.4/js/three-d-secure.min.js"></script>
<script>
  var client_token;
  /*
  var form = document.getElementById('submit-button');
  
  var nonceInput = form['payment_method_nonce'];
  console.log(nonceInput);
  var deviceDataInput = form['device_data'];
  console.log(deviceDataInput);
  */ //for a form
  $.ajax({
    type: 'GET',
    url: '/token'
  }) //promise
    .done(function (result) {
      client_token = result;
      console.log(client_token);
      var button = document.querySelector('#submit-button');
      braintree.dropin.create({
        // Insert your token key here 
        authorization: client_token,
        container: '#dropin-container',
       threeDSecure: {
          amount: '10.00',
        },
        paypal: {
          flow: 'vault',
        },
        dataCollector: {
          kount: true,// Required if Kount fraud data collection is enabled
          paypal: true // pypl
        }
      }, function (createErr, instance) {
        /*
       if (deviceDataInput == null) {
           deviceDataInput = document.createElement('input');
           deviceDataInput.name = 'device_data';
           deviceDataInput.type = 'visible';
           form.appendChild(deviceDataInput);
         }
         if(nonceInput==null){
           nonceInput = document.createElement('input');
           nonceInput.name = "payment_method_nonce" ;
           nonceInput.type = 'visible';
           form.appendChild(nonceInput);
         }
         */ // for a form
        button.addEventListener('click', function () {
          instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
            // When the user clicks on the 'Submit payment' button this code will send the
            console.log("*******************************************************************" + "" + payload.nonce);
            //form
            //deviceDataInput.value = payload.deviceData;
            console.log(JSON.stringify(payload.deviceData) + " " + "DEVICE_DATA_INPUT")
            // encrypted payment information in a variable called a payment method nonce
            $.ajax({
              type: 'POST',
              url: '/checkout',
              //pass data with the post call 
              data: { 'paymentMethodNonce': payload.nonce, 'device_data': payload.deviceData }
            }).done(function (result) {
              // Tear down the Drop-in UI
              instance.teardown(function (teardownErr) {
                if (teardownErr) {
                  console.error('Could not tear down Drop-in UI!');
                } else {
                  console.info('Drop-in UI has been torn down!');
                  // Remove the 'Submit payment' button
                  $('#submit-button').remove();
                }
              });
              if (result.success) {
                $('#checkout-message').html('<h1>Success</h1><p>Your Drop-in UI is working! Check your <a href="https://sandbox.braintreegateway.com/login">sandbox Control Panel</a> for your test transactions.</p><p>Refresh to try another transaction.</p>');
              } else {
                console.log(result);
                $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
              }
            });
              // end of Ajax post call 
           
          });//end of request payment/nonce creation 
          
        });//end of button onclick listener
        
      }); // end of braintree dropin create. 
    }); // end of inital ajax call that drop in relies on and token
</script>