<!--SCS Donate page-->

  <body id="collection-59f7636153450aa3ec740588" class="tweak-social-icons-style-regular tweak-social-icons-shape-square tweak-site-width-option-full-background tweak-icon-weight-light tweak-site-ajax-loading-enable tweak-site-ajax-loading-bar-show ancillary-header-top-left-layout-horizontal ancillary-header-top-center-layout-horizontal ancillary-header-top-right-layout-horizontal ancillary-header-bottom-left-layout-horizontal ancillary-header-bottom-center-layout-horizontal ancillary-header-bottom-right-layout-horizontal ancillary-header-branding-position-top-left ancillary-header-tagline-position-hide ancillary-header-primary-nav-position-top-right ancillary-header-secondary-nav-position-top-right ancillary-header-social-position-hide ancillary-header-search-position-top-right ancillary-header-cart-position-top-right ancillary-header-account-position-hide tweak-header-primary-nav-hover-style-spotlight tweak-header-primary-nav-button-style-solid tweak-header-primary-nav-button-shape-square tweak-header-secondary-nav-hover-style-button tweak-header-secondary-nav-button-style-outline tweak-header-secondary-nav-button-shape-pill tweak-header-search-style-icon-only tweak-header-search-placeholder-show tweak-header-cart-style-text tweak-header-account-style-text tweak-overlay-parallax-enabled tweak-overlay-parallax-new-math tweak-index-nav-style-none tweak-index-nav-position-right tweak-index-nav-text-show tweak-index-page-fullscreen-pages-with-backgrounds-only tweak-index-page-scroll-indicator-none tweak-index-page-scroll-indicator-icon-arrow tweak-index-page-scroll-indicator-icon-weight-light tweak-index-gallery-layout-packed tweak-index-gallery-fixed-height tweak-index-gallery-apply-bottom-spacing tweak-index-gallery-hover-style-plain tweak-index-gallery-controls-small-arrows tweak-index-gallery-controls-icon-weight-hairline tweak-index-gallery-indicators-lines tweak-index-gallery-autoplay-enable tweak-index-gallery-transition-fade tweak-index-gallery-content-position-middle-center tweak-index-gallery-content-text-alignment-left tweak-footer-show tweak-footer-layout-columns tweak-footer-layout-columns-auto tweak-footer-stacked-alignment-center tweak-mobile-bar-top-fixed ancillary-mobile-bar-branding-position-top-left ancillary-mobile-bar-menu-icon-position-top-right tweak-mobile-bar-menu-icon-plus ancillary-mobile-bar-search-icon-position-hide ancillary-mobile-bar-cart-position-hide tweak-mobile-bar-cart-style-text ancillary-mobile-bar-account-position-hide tweak-mobile-bar-account-style-text tweak-mobile-overlay-slide-origin-left tweak-mobile-overlay-close-show tweak-mobile-overlay-menu-primary-button-style-outline tweak-mobile-overlay-menu-primary-button-shape-pill tweak-mobile-overlay-menu-secondary-button-style-outline tweak-mobile-overlay-menu-secondary-button-shape-pill tweak-quote-block-alignment-center tweak-blog-meta-primary-category tweak-blog-meta-secondary-date tweak-blog-list-style-grid tweak-blog-list-alignment-left tweak-blog-list-item-image-show tweak-blog-list-item-image-aspect-ratio-grid-43-four-three tweak-blog-list-item-image-aspect-ratio-stacked-32-standard tweak-blog-list-item-title-show tweak-blog-list-item-excerpt-show tweak-blog-list-item-body-show tweak-blog-list-item-readmore-below-excerpt tweak-blog-list-item-meta-position-above-title tweak-blog-list-pagination-link-label-show tweak-blog-list-pagination-link-icon-weight-light tweak-blog-item-alignment-center tweak-blog-item-meta-position-below-title tweak-blog-item-share-position-below-content tweak-blog-item-pagination-link-label-show tweak-blog-item-pagination-link-title-show tweak-blog-item-pagination-link-meta-hide tweak-blog-item-pagination-link-icon-weight-light event-thumbnails event-thumbnail-size-32-standard event-date-label event-list-show-cats event-list-date event-list-time event-list-address event-excerpts event-item-back-link gallery-design-slideshow aspect-ratio-auto lightbox-style-dark gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop tweak-product-list-image-aspect-ratio-11-square tweak-product-list-item-hover-behavior-fade tweak-product-list-meta-position-under tweak-product-list-mobile-meta-position-under tweak-product-list-meta-alignment-under-center tweak-product-list-meta-alignment-overlay-center-center tweak-product-list-show-title tweak-product-list-filter-display-top tweak-product-list-filter-alignment-center tweak-product-item-nav-show-none tweak-product-item-nav-pagination-style-previousnext tweak-product-item-nav-breadcrumb-alignment-left tweak-product-item-nav-pagination-alignment-split tweak-product-item-gallery-position-right tweak-product-item-gallery-design-stacked tweak-product-item-gallery-aspect-ratio-11-square tweak-product-item-gallery-thumbnail-alignment-left tweak-product-item-details-alignment-left tweak-product-item-details-show-title tweak-product-item-details-show-price tweak-product-item-details-show-excerpt tweak-product-item-details-excerpt-position-below-price tweak-product-item-details-show-share-buttons tweak-product-item-details-show-variants tweak-product-item-details-show-quantity tweak-product-item-details-options-style-pill tweak-product-item-details-show-add-to-cart-button tweak-product-item-details-add-to-cart-button-style-solid tweak-product-item-details-add-to-cart-button-shape-pill tweak-product-item-details-add-to-cart-button-padding-medium tweak-product-item-image-zoom-behavior-hover tweak-related-products-image-aspect-ratio-11-square tweak-related-products-meta-alignment-under-center tweak-product-badge-style-none tweak-product-badge-position-top-right tweak-product-badge-inset-floating newsletter-style-light hide-opentable-icons opentable-style-dark small-button-style-raised small-button-shape-pill medium-button-style-raised medium-button-shape-pill large-button-style-raised large-button-shape-pill image-block-poster-text-alignment-center image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-content-position-center image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-outline button-corner-style-pill tweak-product-quick-view-button-style-docked tweak-product-quick-view-button-position-center tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light tweak-share-buttons-style-icon-only tweak-share-buttons-icons-show tweak-share-buttons-standard-background-color native-currency-code-usd collection-59f7636153450aa3ec740588 collection-type-index collection-layout-default view-list mobile-style-available sqs-has-custom-cart has-logo-image has-tagline has-parallax-images enable-load-effects has-primary-nav has-secondary-nav has-footer-nav parallax-item-positioning-method-fixed" data-controller="HashManager, SiteLoader, MobileClassname">

    <div class="Loader"></div>


    </div>

    <div class="Site loaded" data-nc-base="header" data-controller="AncillaryLayout" id="yui_3_17_2_1_1569429297923_105" data-controllers-bound="AncillaryLayout">
      <div class="sqs-announcement-bar-dropzone"></div>

      <header class="Header Header--top">
        <div class="Header-inner Header-inner--top" data-nc-group="top">
          <div data-nc-container="top-left">

            

          <a href="https://asparagus-fiddle-8btt.squarespace.com/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
                
                  
                    <img src="./SCS_files/saved_resource" alt="Sickle Cell Society Ireland" class="Header-branding-logo">
                  
                
              </a></div>
          <div data-nc-container="top-center">
            
            
          </div>
          <div data-nc-container="top-right">

            

          <div class="Header-search" data-nc-element="search">
              <form class="Header-search-form" action="https://asparagus-fiddle-8btt.squarespace.com/search" method="get">
                <input class="Header-search-form-input" name="q" type="text" spellcheck="false" value="" autocomplete="off" placeholder="Search">
                <button class="Header-search-form-submit" type="submit" data-test="template-search">
                </button>
              </form>
            </div><nav class="Header-nav Header-nav--primary" data-nc-element="primary-nav" data-content-field="navigation">
                
  <div class="Header-nav-inner">
    <span class="Header-nav-item Header-nav-item--folder">

      <a href="#" class="Header-nav-folder-title" data-controller="HeaderNavFolderTouch" data-controllers-bound="HeaderNavFolderTouch">About Us</a>

      <span class="Header-nav-folder">
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Who We Are</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Our History</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Our Defining Principles</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">What Do We Do?</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Our Team</a>
          
        
      </span>
    </span><span class="Header-nav-item Header-nav-item--folder">

      <a href="#" class="Header-nav-folder-title" data-controller="HeaderNavFolderTouch" data-controllers-bound="HeaderNavFolderTouch">Sicke Cell</a>

      <span class="Header-nav-folder">
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">About Sickle Cell</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Complications and Treatments</a>
          
        
          
            <a href="https://asparagus-fiddle-8btt.squarespace.com/sickle-cell-research" class="Header-nav-folder-item" data-test="template-nav">Sickle Cell Research</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">FAQ</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Glossary</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Links &amp; Resources</a>
          
        
      </span>
    </span><span class="Header-nav-item Header-nav-item--folder">

      <a href="#" class="Header-nav-folder-title" data-controller="HeaderNavFolderTouch" data-controllers-bound="HeaderNavFolderTouch">Our Impact</a>

      <span class="Header-nav-folder">
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Our Impact</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Key Projects</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">iStory (Personal Impact)</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">#SickleCellMatters</a>
          
        
      </span>
    </span><span class="Header-nav-item Header-nav-item--folder">

      <a href="#" class="Header-nav-folder-title" data-controller="HeaderNavFolderTouch" data-controllers-bound="HeaderNavFolderTouch">Get Involved</a>

      <span class="Header-nav-folder">
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Volunteer</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Programs</a>
          
        
          
            <a href="#" class="Header-nav-folder-item" data-test="template-nav">Events</a>
          
        
      </span>
    </span>
  </div>

              </nav><nav class="Header-nav Header-nav--secondary" data-nc-element="secondary-nav" data-content-field="navigation">
                
  <div class="Header-nav-inner">
    <a href="/scsdonate.html" class="Header-nav-item">Donate</a>
  </div>

              </nav></div>
        </div>
      </header>

      <div class="Site-inner Site-inner--index" data-controller="HeaderOverlay">

        <header class="Header Header--bottom Header--overlay">
          <div class="Header-inner Header-inner--bottom" data-nc-group="bottom">
            <div data-nc-container="bottom-left">
              
            </div>
            <div data-nc-container="bottom-center">

              
              

            </div>
            <div data-nc-container="bottom-right">

              

            </div>
          </div>
        </header>

        <div class="Content-outer" id="yui_3_17_2_1_1569429297923_103">
          

          <main class="Index" data-collection-id="59f7636153450aa3ec740588" data-controller="IndexFirstSectionHeight, Parallax, IndexNavigation" data-controllers-bound="IndexFirstSectionHeight, Parallax, IndexNavigation">
            
              <section id="donate" class="Index-page Index-page--has-image" data-parallax-original-element="" data-collection-id="5c4db4b54fa51a7413b3b640" data-parallax-id="5c4db4b54fa51a7413b3b640" data-edit-main-image="Background" style="min-height: calc(100vh - 100px);">
        
          <div class="Index-page-scroll-indicator" data-controller="ScrollIndicator" data-controllers-bound="ScrollIndicator">
            <div class="Index-page-scroll-indicator-text">Scroll</div>

            <div class="Index-page-scroll-indicator-line"></div>
          </div>
        
        <div class="Index-page-content  sqs-alternate-block-style-container" style="margin-top: 0px;">
          <div class="sqs-layout donate-button sqs-grid-12 columns-12" data-type="page" data-updated-on="1559770111409" id="page-5c4db4b54fa51a7413b3b640"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="row sqs-row"><div class="col sqs-col-9 span-9"><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_2_1509385271920_4950"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-6 span-6"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-c1396dce1522036e011e"><div class="sqs-block-content"><h3 style="text-align:center;white-space:pre-wrap;">Your support matters</h3><h2 style="text-align:center;white-space:pre-wrap;">Make a Donation</h2><p style="text-align:center;white-space:pre-wrap;" class="">We rely on your kind donations to keep doing the work we do. Every donation allows us to reach more people, run more activities, and improve the lives of those living with sickle cell.</p></div></div>
          
          <div class="sqs-block embed-block sqs-block-embed scs-donate-block"  data-block-type="22" id="block-yui_3_17_2_1_1559769419575_14930">
            <div class="sqs-block-content" id="yui_3_17_2_1_1569429297923_219" style="visibility: visible; opacity: 1; height: auto;">
              <span class="typeform-share donate-button" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#E37263;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers="true" data-hide-footer="true" data-submit-close-delay="5" target="_blank">Donate Now  </span></div></div></div></div></div><div class="col sqs-col-3 span-3"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-7c7a3ce98e55f8d4b649"><div class="sqs-block-content">&nbsp;</div></div></div></div></div></div></div>
        </div>
        
          
            
          
        
      </section>

    

  

  
    <nav class="Index-nav overlay">
      <div class="Index-nav-inner">
        
          <a href="#" class="Index-nav-item active">
            <div class="Index-nav-indicator"></div>
            <div class="Index-nav-text-Donate"><span>Donate</span></div>
          </a>
        
      </div>
    </nav>

    <!--Braintree payments divs-->
  <div id="checkout-message"></div>
  <div id="bt-payments">
    {{!-- <form action="/checkout" class="container bt-form-donate" id="bt-checkout" method="POST">
  
  <div class="row">
    <div class="col-xs-12" >
      <div class="form-group">
        <label for="billing-given-name">First name</label>
        <input type="billing-given-name" class="form-control" id="billing-given-name" placeholder="First">
        <span id="help-billing-given-name" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-surname">Surname</label>
        <input type="billing-surname" class="form-control" id="billing-surname" placeholder="Last">
        <span id="help-billing-surname" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="email">Email ID</label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <span id="help-email" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-phone">Mobile number</label>
        <input type="billing-phone" class="form-control" id="billing-phone" placeholder="123-456-7890">
        <span id="help-billing-phone" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-street-address">Street address</label>
        <input type="billing-street-address" class="form-control" id="billing-street-address" placeholder="123 Street">
        <span id="help-billing-street-address" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-extended-address">Extended address</label>
        <input type="billing-extended-address" class="form-control" id="billing-extended-address" placeholder="Unit 1">
        <span id="help-billing-extended-address" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-locality">Locality</label>
        <input type="billing-locality" class="form-control" id="billing-locality" placeholder="City">
        <span id="help-billing-locality" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-region">County</label>
        <input type="billing-region" class="form-control" id="billing-county" placeholder="State">
        <span id="help-billing-region" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-postal-code">Postal code</label>
        <input type="billing-postal-code" class="form-control" id="billing-postal-code" placeholder="12345">
        <span id="help-billing-postal-code" class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="billing-country-code">Country</label>
        <input type="billing-country-code" class="form-control" id="billing-country" placeholder="XX">
        <span id="help-billing-country-code" class="help-block"></span>
      </div>
    </div>
  </div>
   --}}
{{!-- 
  <div class="input-group pay-group bt-drop-in-container">
    <div class="row">
      <div class="col-xs-12" >
       <div id="drop-in"></div>
      </div>
    </div>
    
    <div class="row">
      <input disabled id="pay-btn" class="btn btn-success" type="submit" value="Loading...">
    </div> --}}
    <hr>
    <div class="form-group">
        <label for="billing-amount">Amount</label>
        <input type="billing-amount" class="form-control" id="billing_amount" placeholder="10">
        <span id="help-billing-amount" class="help-block"></span>
      </div>

  <div id="dropin-container"></div>
  <button id="submit-button">Click to Pay</button>
 {{!--   </div>
</form> --}}

  </div>
<!--Refund divs
<div id="refund-container">
  <input type="text" id="rTransID">Enter Transaction ID to refund</input></br>
  <button id="refund-button">Refund</button>
</div></br>
<!Customer divs
<div id="customer-container">
  <button id="createCustomer-button">Create Customer</button></br></br>
  <input type="text" id="delCustID">Enter Cutomer ID to delete</input></br>
  <button id="deleteCustomer-button">Delete Customer</button>
</div>
<!subscribe divs
<div id="sub-container">
  <button id="createSubscription-button">Add to subsciption</button></br></br>
</div>-->

            
          </main>

        </div>
      </div>

      <footer class="Footer Footer--mid" role="contentinfo" data-controller="FooterBreakpoints" data-controllers-bound="FooterBreakpoints">

  <div class="Footer-inner clear">

    <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--top sqs-alternate-block-style-container" data-layout-label="Footer Top Blocks" data-type="block-field" data-updated-on="1548596375173" id="footerBlocksTop"><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_2_1507575895855_7762"><div class="sqs-block-content"><h3 style="white-space:pre-wrap;"><a href="https://asparagus-fiddle-8btt.squarespace.com/home-impact">© 2018 Sickle cell society ireland </a></h3><p style="white-space:pre-wrap;"><strong>Unit 14 MG Building<br>Damastown, Dublin 15</strong></p><p style="white-space:pre-wrap;"><a href="tel:+353899606383" target="_blank"><strong>+353 (89) 960-6383</strong></a><strong><br></strong><a href="mailto:info@sicklecellsocietyireland.org" target="_blank"><strong>info@sicklecellsocietyireland.org</strong></a></p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_2_1508178717394_35681"><div class="sqs-block-content"><h3 style="white-space:pre-wrap;">Info</h3><p style="white-space:pre-wrap;"><a href="#">Mission</a><br><a href="#">Partners</a><br><a href="#">Impact</a><br><a href="#">Programs</a><br><a href="#">Press</a><br><a href="#">Blog</a></p></div></div></div><div class="col sqs-col-3 span-3"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_3_1508345645420_17466"><div class="sqs-block-content"><h3 style="white-space:pre-wrap;">Action</h3><p style="white-space:pre-wrap;"><a href="#">Volunteer</a><br><a href="#">Contact</a><br><a href="#">Donate</a></p></div></div></div><div class="col sqs-col-3 span-3"></div></div></div>

    <div class="Footer-middle">
      <div class="Footer-business">

        
          <div class="Footer-business-info">
            
              
                <div class="Footer-business-info-item Footer-business-info-item--name">Sickle Cell Society Ireland</div>
                <div class="Footer-business-info-item">Base Enterprise Centre, Unit 14 MG Bulding,</div>
                <div class="Footer-business-info-item">Damastown Road, County Dublin, ,</div>
                <div class="Footer-business-info-item Footer-business-info-item--country">Ireland</div>
              
            
            
              <a href="tel:+353 (89) 9606383" rel="tel" class="Footer-business-info-item Footer-business-info-item--phone">+353 (89) 9606383</a>
              <a href="mailto:info@sicklecellsoceityireland.org" title="info@sicklecellsoceityireland.org" target="_blank" class="Footer-business-info-item Footer-business-info-item--email">info@sicklecellsoceityireland.org</a>
            
          </div>
        

        
          
            <div class="Footer-business-hours">
              <div class="Footer-business-hours-heading">Hours</div>
              <div class="Footer-business-hours-item">Mon 9am - 5pm</div>
              <div class="Footer-business-hours-item">Tue 9am - 5pm</div>
              <div class="Footer-business-hours-item">Wed 9am - 5pm</div>
              <div class="Footer-business-hours-item">Thu 9am - 5pm</div>
              <div class="Footer-business-hours-item">Fri 9am - 5pm</div>
              <div class="Footer-business-hours-item">Sat Closed</div>
              <div class="Footer-business-hours-item">Sun Closed</div>
            </div>
          
        

      </div>

      <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--middle sqs-alternate-block-style-container empty" data-layout-label="Footer Middle Blocks" data-type="block-field" data-updated-on="1452386857557" id="footerBlocksMiddle"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>

      
  <nav class="Footer-nav" data-content-field="navigation">

    <div class="Footer-nav-group"><a href="#" class="Footer-nav-item">Partners</a><a href="#" class="Footer-nav-item">Contact</a></div>

  </nav>

    </div>

    <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--bottom sqs-alternate-block-style-container empty" data-layout-label="Footer Bottom Blocks" data-type="block-field" data-updated-on="1507656841398" id="footerBlocksBottom"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>

  </div>

</footer>


    </div>


</body></html>

<!--END-->


  <script>
  var button = document.querySelector('#submit-button');

$(document).ready(function(){
  //toggle drop-in
  $('span.donate-button').click(function(){
      $('#bt-payments').show();
      $(this).hide();
      $('html, body').animate({
         scrollTop: $("#bt-payments").offset().top
      }, 1000)
  });

// to get client token
  var client_token;
  var transcationId;
  
  //alert(amount3ds);
  $.ajax({
    type: 'GET',
    url: '/checkout',
    }).done(function(result) {
  client_token = result;
  console.log(result);
  //Create the dropin
  braintree.dropin.create({
    authorization: client_token,
    container: '#dropin-container',
    card: {
      cardholderName: true,
      vault: { 
        vaultCard: true, 
        allowVaultCardOverride: true, 
        },
        /*overrides: {
        fields: {
          cvv: null,
        }
      }*/
    },

  //Adding 3D secure
  threeDSecure: true,
    //Adding paypal option
    paypal: {
    flow: 'vault',
    },   
  //Kount
  dataCollector: {
    kount: true,
    paypal: true
  }
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      var amount3ds = $('#billing_amount').val();
      //alert(amount3ds);
      if(amount3ds == '' || amount3ds == null){
          $('#help-billing-amount').text('Enter an amount!');
      }else{
        $('#help-billing-amount').hide();
    instance.requestPaymentMethod({
      threeDSecure: {
      amount: amount3ds,
      email: 'test3DS@bt.com',
      acsWindowSize: '05',
      billingAddress: {
        givenName: 'test',
        surname: 'test',
        phoneNumber: '96541255',
        streetAddress: 'testadd',
        extendedAddress: 'billing-extended-address',
        locality: 'billing-locality',
        region: 'billing-region',
        postalCode: '12345',
        countryCodeAlpha2: 'AA'
      }
      }
    },function (err, payload) {
      //alert(payload.nonce);
      var billing_amount = $('#billing_amount').val();
      console.log(billing_amount);
      if(err == null){
        $('.braintree-large-button').remove();
      }
      $.ajax({
      type: 'POST',
      url: '/checkout',
      data: {'paymentMethodNonce': payload.nonce,'device_data':payload.deviceData, 'billingamount':billing_amount}
    }).done(function(result) {
      // Tear down the Drop-in UI
      instance.teardown(function (teardownErr) {
      if (teardownErr) {
        console.error('Could not tear down Drop-in UI!');
      } else {
        console.info('Drop-in UI has been torn down!');
        
        // Remove the 'Submit payment' button
        $('#submit-button').remove();
      }
      });

      if (result.success) {
    //Displaying results from array
      var replacedName = 'Credit Card';
      var resultArray = [result.transaction.id, result.transaction.amount , result.transaction.createdAt , result.transaction.paymentInstrumentType, result.transaction.currencyIsoCode]
      transcationId = result.transaction.id;
      
      var paymentInstrumentTypeConverted = JSON.stringify(result.transaction.paymentInstrumentType).replace(result.transaction.paymentInstrumentType, replacedName);
      $('#checkout-message').html("<h1>Success</h1><p>Transaction ID:"+" "+transcationId+"</p><p>Transaction amount:"+" "+result.transaction.amount+" "+result.transaction.currencyIsoCode+"</p><p>Created At:"+" "+result.transaction.createdAt+"</p><p>Payment Type:"+" "+result.transaction.paymentInstrumentType+"</p>");
      $('#checkout-message').show();
      $('section#donate').hide();
      $('#bt-payments').hide();
      $('html, body').animate({
         scrollTop: $(".Header--top").offset().top
      }, 1000)
     // $('#refund-container').show();
     // $('#customer-container').show();
     // $('#delCustID').show();
     // $('#createSubscription-button').show();
    //refund ajax
      $('#refund-button').click(function () {
        alert('Recently done: '+ transcationId);
        var refundTransID = $('input#rTransID').val();
        
          $.ajax({
          type: 'POST',
          url: '/refund/refund',
          data: {'refundTrasactId': refundTransID}
        }).done(function(result) {
          //alert(data);
          if (result.success) {
            $('#checkout-message').hide();
            $('#refund-container').html('<div id="refund-success">Refund-Success</div>'+" "+'<div><p>Transaction Type:'+" "+result.transaction.type+" Amount "+result.transaction.amount+'</p></div>');
          } else {
          console.log(result);
          $('#checkout-message').hide();
          $('#refund-container').html('<div id="refund-failure">Refund-Error</div>');
          }
        });
      });
      //Customer-create ajax
      $('#createCustomer-button').click(function () {
          $.ajax({
          type: 'POST',
          url: '/customer/createCustomer',
          data: {'firstName': "Jen",'lastName': "Smith",'company': "Braintree", 'email': "new123@example.com",'phone': "123456789"}
        }).done(function(result) {
          //alert(data);
          if (result.success) {
            $('#checkout-message').hide();
            $('#refund-container').hide();
            $('#customer-container').html('<div id="customer-success">Customer_create-Success</div>');
          } else {
          console.log(result);
          $('#checkout-message').hide();
          $('#customer-container').html('<div id="customer-failure">Customer_create-Error</div>');
          }
        });
      });
      //Customer-Delete ajax
      $('#deleteCustomer-button').click(function () {
          var custID = $('input#delCustID').val();
        alert(custID);
          $.ajax({
          type: 'POST',
          url: '/customer/delCustomer',
          data: {'customerID': custID}
        }).done(function(result) {
          alert(result);
          if (result.success) {
            $('#checkout-message').hide();
            $('#refund-button').hide();
            $('#createCustomer-button').hide();
            $('#customer-container').html('<div id="customer-success">Customer_delete-Success</div>');
          } else {
          console.log(result);
          $('#checkout-message').hide();
          $('#customer-container').html('<div id="customer-failure">Customer_delete-Error</div>');
          }
        });
      });
    //Create subsciption ajax
      $('#createSubscription-button').click(function () {
        alert(client_token);
          $.ajax({
          type: 'POST',
          url: '/customer/subscription',
          data: {/*'clientToken': client_token,'planId': 'sskpid'*/}
        }).done(function(result) {
          alert(result);
          if (result.success) {
            $('#checkout-message').hide();
            $('#refund-button').hide();
            $('#createCustomer-button').hide();
            $('#deleteCustomer-button').hide();
            $('#sub-container').html('<div id="subscribe-success">subscribed-Success</div>');
          } else {
          console.log(result);
          $('#checkout-message').hide();
          $('#sub-container').html('<div id="subscribe-failure">subscribed-Error</div>');
          }
        });
      });
      } else {
      console.log(result);
      $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
      }
    });
    });
    }
    });
  });
  });
});
  </script>